{% extends 'layout.html' %}
{% block content %}
<h1 class="thin center">New Dataset</h1>
<h4 class="thin center">Input Data Below</h4>
<br><br><br>
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {{ form.title(class="form-control-lg") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.z.label(class="form-control-label") }}
            {{ form.z(class="form-control-file") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.d.label(class="form-control-label") }}
            {{ form.d(class="form-control-file") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.m.label(class="form-control-label") }}
            {{ form.m(class="form-control-file") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.s.label(class="form-control-label") }}
            {{ form.s(class="form-control-file") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.t.label(class="form-control-label") }}
            {{ form.t(class="form-control-file") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.w.label(class="form-control-label") }}
            {{ form.w(class="form-control-file") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.rm.label(class="form-control-label") }}
            {{ form.rm(class="form-control-lg") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.o.label(class="form-control-label") }}
            {{ form.o(class="form-control-lg") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.ps.label(class="form-control-label") }}
            {{ form.ps(class="form-control-lg") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.ad.label(class="form-control-label") }}
            {{ form.ad(class="form-control-lg") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}